@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $("#txt_Arear").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "Arear" },
            id: "ItemValue",
            text: "ItemName",
            description: "请选择",
            height: "200px"
        });
        $("#txt_ArearNumber").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "ArearNumber" },
            id: "ItemValue",
            text: "ItemName",
            description: "请选择",
            height: "200px"
        });
        $("#txt_HouseType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "HouseType" },
            id: "ItemValue",
            text: "ItemName",
            description: "请选择",
            height: "200px"
        });
        $("#HH").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "HouseStatus" },
            id: "ItemValue",
            text: "ItemName",
            description: "请选择",
            height: "200px"
        });
        var role = '@LeaRun.Application.Code.OperatorProvider.Provider.Current().CompanyId';
        if (role == "镇联动中心") {
            $("#txt_Arear").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: "Arear" },
                id: "ItemValue",
                text: "ItemName",
                description: "请选择",
                height: "200px"
            });
            //$("#lr-add").attr("disabled", true);
        } else if (role == "丁泾村,六尺社区")
        {
            $("#txt_Arear").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: "Arear2" },
                id: "ItemValue",
                text: "ItemName",
                //description: "请选择",
                height: "200px"
            });
            $("#txt_Arear").ComboBoxSetValue("丁泾村");
            $("#lr-add2").attr("disabled", true);
        }
        else if (role == "浮桥村,浮桥社区") {
            $("#txt_Arear").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: "Arear3" },
                id: "ItemValue",
                text: "ItemName",
                //description: "请选择",
                height: "200px"
            });
            $("#txt_Arear").ComboBoxSetValue("浮桥村");
            $("#lr-add2").attr("disabled", true);
        } else if (role == "浪港村,时思村") {
            $("#txt_Arear").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: "Arear4" },
                id: "ItemValue",
                text: "ItemName",
                //description: "请选择",
                height: "200px"
            });
            $("#txt_Arear").ComboBoxSetValue("浪港村");
            $("#lr-add2").attr("disabled", true);
        } else if (role == "时思社区,陆公社区") {
            $("#txt_Arear").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: "Arear5" },
                id: "ItemValue",
                text: "ItemName",
                //description: "请选择",
                height: "200px"
            });
            $("#txt_Arear").ComboBoxSetValue("时思社区");
            $("#lr-add2").attr("disabled", true);
        }
        else
        {
            $("#txt_Arear").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: "Arear" },
                id: "ItemValue",
                text: "ItemName",
                description: "请选择",
                height: "200px"
            });
            $("#txt_Arear").attr("disabled", true);
            $("#txt_Arear").ComboBoxSetValue(role);
            $("#lr-add2").attr("disabled", true);

        }
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var queryJson = {
            txt_Arear: $("#txt_Arear").attr("data-value"),
            txt_ArearNumber: $("#txt_ArearNumber").attr("data-value"),
            txt_Address: $("#txt_Address").val(),
            txt_HouseType: $("#txt_HouseType").attr("data-value"),
            txt_CodeNumber: $("#txt_CodeNumber").val(),
            txt_CQRen: $("#txt_CQRen").val(),
            ASTime: $("#StartTime").val(),
            AETime: $("#EndTime").val(),
            SSTime: $("#EStartTime").val(),
            SETime: $("#EEndTime").val(),
            Status: "已审核",
            HH: $("#HH").attr("data-value"),
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 136.5,
            url: "../../BaseManage/H_HouseNew/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', align: '', sortable: false, hidden: true },
                { label: '状态', name: 'Status', index: 'Status', width: 100, align: 'left', sortable: true },
                { label: '村居', name: 'Arear', index: 'Arear', align: '', sortable: true },
                { label: '网格名称', name: 'ArearNumber', index: 'ArearNumber', width: 180, align: '', sortable: true },
                { label: '坐落详址', name: 'Address', index: 'Address', width: 280, align: '', sortable: true },
                { label: '房屋性质', name: 'HouseType', index: 'HouseType', width: 180, align: '', sortable: true },
                { label: '二维码门牌', name: 'CodeNumber', index: 'CodeNumber', width: 180, align: '', sortable: true },
                { label: '产权人', name: 'CQRen', index: 'CQRen', width: 180, align: '', sortable: true },
                { label: '地址（全）', name: 'AllAddress', index: 'AllAddress', width: 180, align: '', sortable: true, hidden: true },
                 { label: '房屋状态', name: 'HH', index: 'HH', width: 100, align: 'left', sortable: true },
                 { label: '创建类型', name: 'CreateType', index: 'CreateType', width: 100, align: 'left', sortable: true },
                { label: '创建人', name: 'CreateName', index: 'CreateName', width: 100, align: 'left', sortable: true },
                { label: '创建时间', name: 'CreateDate', index: 'CreateDate', width: 100, align: 'left', sortable: true },
                //{ label: 'AA', name: 'AA', index: 'AA', width: 80, align: '',sortable: false  },
                //{ label: 'BB', name: 'BB', index: 'BB', width: 80, align: '',sortable: false  },
                //{ label: 'CC', name: 'CC', index: 'CC', width: 80, align: '',sortable: false  },
                //{ label: 'DD', name: 'DD', index: 'DD', width: 80, align: '',sortable: false  },
                //{ label: 'EE', name: 'EE', index: 'EE', width: 80, align: '',sortable: false  },
                //{ label: 'FF', name: 'FF', index: 'FF', width: 80, align: '',sortable: false  },
                //{ label: 'GG', name: 'GG', index: 'GG', width: 80, align: '',sortable: false  },
                //{ label: 'HH', name: 'HH', index: 'HH', width: 80, align: '',sortable: false  },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateDate desc',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {

                var keyValue = $gridTable.jqGrid('getRowData', row_id)['AllAddress'];
                var subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({
                    url: "../../BaseManage/H_HouseNew/GetDetailsJson",
                    postData: { keyValue: keyValue },
                    datatype: "json",
                    height: "100%",
                    colModel: [
                { label: '居住人姓名', name: 'JZRenName', index: 'JZRenName', width: 80, align: '', sortable: true },
                { label: '性别', name: 'Sex', index: 'Sex', width: 60, align: '', sortable: true },
                { label: '居住人员类别', name: 'JZRenType', index: 'JZRenType', width: 100, align: '', sortable: true },
                { label: '身份证号码', name: 'IDCard', index: 'IDCard', width: 180, align: '', sortable: true },
                { label: '居住证号码', name: 'JZNumber', index: 'JZNumber', width: 100, align: '', sortable: true },
                { label: '联系电话', name: 'Phone', index: 'Phone', width: 100, align: '', sortable: true },
                { label: '实际居住地址', name: 'SJJZAddress', index: 'SJJZAddress', width: 280, align: '', sortable: true },
                { label: '户籍信息', name: 'HJInfo', index: 'HJInfo', width: 100, align: '', sortable: true },
                { label: '职业', name: 'ZhiYe', index: 'ZhiYe', width: 100, align: '', sortable: true },
                { label: '工作所在地', name: 'WordAddress', index: 'WordAddress', width: 180, align: '', sortable: true },
                { label: '重点人员', name: 'ImpRen', index: 'ImpRen', width: 100, align: '', sortable: true },
                { label: '具体情况', name: 'JTQingKuang', index: 'JTQingKuang', width: 130, align: '', sortable: true },
                { label: '备注', name: 'Note', index: 'Note', width: 120, align: '', sortable: true },
                { label: 'AllAddress', name: 'AllAddress', index: 'AllAddress', align: '', sortable: true, hidden: true },
                    ],
                    caption: "明细",
                    rowNum: "1000",
                    rownumbers: true,
                    shrinkToFit: false,
                    gridview: true,
                    hidegrid: false
                });
            }
        });

        $("#time_horizon a.btn-default").click(function () {
            $("#time_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            switch ($(this).attr('data-value')) {
                case "1"://今天
                    $("#StartTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                case "2"://近7天
                    $("#StartTime").val("@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                case "3"://近一个月
                    $("#StartTime").val("@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                case "4"://近三个月
                    $("#StartTime").val("@DateTime.Now.AddMonths(-3).ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                default:
                    break;
            }
            $("#SelectedStartTime").html($("#StartTime").val());
            $("#SelectedEndTime").html($("#EndTime").val());
            SearchEvent();
        });



        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            SearchEvent();
            $(".ui-filter-text").trigger("click");
            $("#SelectedStartTime").html($("#StartTime").val());
            $("#SelectedEndTime").html($("#EndTime").val());
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加H_HouseNew',
            url: '/BaseManage/H_HouseNew/H_HouseNewFormADD',
            width: '1000px',
            height: '750px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    function btn_Shen() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        var shen = $('#gridTable').jqGridRowValue('Status');
        if (shen == "已审核") {
            dialogMsg('已审核单据不能再次审核！', 0);
        } else {
            if (keyValue) {
                $.SaveForm({
                    url: '../../BaseManage/H_HouseNew/ShenForm',
                    param: { keyValue: keyValue },
                    success: function (data) {
                        $('#gridTable').trigger('reloadGrid');
                    }
                })
            } else {
                dialogMsg('请选择需要审核的人员信息！', 0);
            }
        }
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑H_HouseNew',
                url: '/BaseManage/H_HouseNew/H_HouseNewFormADD?keyValue=' + keyValue,
                width: '1000px',
                height: '750px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (keyValue) {
            $.RemoveForm({
                url: '../../BaseManage/H_HouseNew/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的H_HouseNew！', 0);
        }
    }
    //详细
    function btn_details() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '详细H_HouseNew',
                url: '/BaseManage/H_HouseNew/H_HouseNewForm?keyValue=' + keyValue + '&isDeltail=true',
                width: '1000px',
                height: '750px',
                btn: null,
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    function btn_export() {
        var gridTable = $('#gridTable');
        var o = jQuery("#gridTable");
        var rowNum = o.jqGrid('getGridParam', 'rowNum'); //获取显示配置记录数量
        var total = o.jqGrid('getGridParam', 'records'); //获取查询得到的总记录数量
        o.jqGrid('setGridParam', { rowNum: total }).trigger('reloadGrid'); //设置rowNum为总记录数量并且刷新jqGrid，使所有记录现出来调用getRowData方法才能获取到所有数据
        var rows = o.jqGrid('getRowData');  //输出所有匹配的
        dialogOpen({
            id: "ExcelIExportDialog",
            title: '导出救助信息列表',
            url: '/Utility/ExcelExportForm?gridId=gridTable&filename=新增房屋信息列表',
            width: "500px",
            height: "380px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }, btn: ['导出Excel', '关闭']
        });
    }
    function SearchEvent() {
        var queryJson = {
            txt_Arear: $("#txt_Arear").attr("data-value"),
            txt_ArearNumber: $("#txt_ArearNumber").attr("data-value"),
            txt_Address: $("#txt_Address").val(),
            txt_HouseType: $("#txt_HouseType").attr("data-value"),
            txt_CodeNumber: $("#txt_CodeNumber").val(),
            txt_CQRen: $("#txt_CQRen").val(),
            ASTime: $("#StartTime").val(),
            AETime: $("#EndTime").val(),
            SSTime: $("#EStartTime").val(),
            SETime: $("#EEndTime").val(),
            Status: "已审核",
            HH: $("#HH").attr("data-value"),
        }
        $("#gridTable").jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) },
            page: 1
        }).trigger('reloadGrid');
    }

</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>查询条件</td>
                <td style="padding-left: 10px;">
                    <div class="ui-filter" style="width: 200px;">
                        <div class="ui-filter-text">
                            <strong id="SelectedStartTime"></strong> 至 <strong id="SelectedEndTime"></strong>
                        </div>
                        <div class="ui-filter-list" style="width: 400px;">
                            <table class="form" id="filter-form">
                                <tr>
                                    <th class="formTitle">新增日期：</th>
                                    <td class="formValue">
                                        <input id="Category" type="hidden" value="1" />
                                        <div style="float: left; width: 45%;">
                                            <input id="StartTime" readonly type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                                        </div>
                                        <div style="float: left; width: 10%; text-align: center;">至</div>

                                        <div style="float: left; width: 45%;">
                                            <input id="EndTime" readonly type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                                        </div>
                                    </td>
                                </tr>
                        </div>
            </tr>
            @*<tr>
                <th class="formTitle">审核时间：</th>
                <td class="formValue">
                    <input id="Category" type="hidden" value="1" />
                    <div style="float: left; width: 45%;">
                        <input id="EStartTime" readonly type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                    </div>
                    <div style="float: left; width: 10%; text-align: center;">至</div>
                    <div style="float: left; width: 45%;">
                        <input id="EEndTime" readonly type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                    </div>
                </td>
            </tr>*@
            <tr>
                <th class="formTitle">村居：</th>
                <td class="formValue">
                    <div id="txt_Arear" type="select" class="ui-select"></div>
                    @*<input id="txt_Arear" type="text" class="form-control" />*@
                </td>
            </tr>
            <tr>
                <th class="formTitle">网格名称：</th>
                <td class="formValue">
                    <div id="txt_ArearNumber" type="select" class="ui-select"></div>
                    @*<input id="txt_ArearNumber" type="text" class="form-control" />*@
                </td>
            </tr>
            <tr>
                <th class="formTitle">坐落详址：</th>
                <td class="formValue">
                    <input id="txt_Address" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">房屋性质：</th>
                <td class="formValue">
                    <div id="txt_HouseType" type="select" class="ui-select"></div>
                    @*<input id="txt_HouseType" type="text" class="form-control" />*@
                </td>
            </tr>
            <tr>
                <th class="formTitle">二维码门牌：</th>
                <td class="formValue">
                    <input id="txt_CodeNumber" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">产权人：</th>
                <td class="formValue">
                    <input id="txt_CQRen" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">房屋状态：</th>
                <td class="formValue">
                    <div id="HH" type="select" class="ui-select"></div>
                    @*<input id="txt_HouseType" type="text" class="form-control" />*@
                </td>
            </tr>
        </table>
        <div class="ui-filter-list-bottom">

            <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
        </div>
    </div>
</div>
                </td>
<td style="padding-left: 10px;">
    <div id="time_horizon" class="btn-group">
        <a class="btn btn-default" data-value="1">今天</a>
        <a class="btn btn-default active" data-value="2">近7天</a>
        <a class="btn btn-default" data-value="3">近1个月</a>
        <a class="btn btn-default" data-value="4">近3个月</a>
    </div>
</td>
@*<ul class="dropdown-menu">
        <li><a data-value="Arear">村居</a></li>
        <li><a data-value="ArearNumber">网格名称</a></li>
        <li><a data-value="Address">坐落详址</a></li>
        <li><a data-value="HouseType">房屋性质</a></li>
        <li><a data-value="CodeNumber">二维码门牌</a></li>
        <li><a data-value="CQRen">产权人</a></li>
        <li><a data-value="AllAddress">地址（全）</a></li>
    </ul>*@
            </tr>
        </table>
    </div>
<div class="toolbar">
    <div class="btn-group">
        <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        <a id="lr-add2" class="btn btn-default" onclick="btn_Shen()"><i class="fa fa-plus"></i>审核</a>
        <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
        <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
        <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
        <a id="lr-details" class="btn btn-default" onclick="btn_details()"><i class="fa fa-list-alt"></i>详细</a>
        <a id="lr-replace" class="btn btn-default" onclick="btn_export()"><i class="fa fa-trash-o"></i>&nbsp;导出</a>
    </div>
</div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
